<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Todo List</h1>
    <ul id="todo-list"></ul>
        <form id="add-todo-form">
      <input type="text" name="title" placeholder="Add a new todo...">
      <button type="submit">Add Todo</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
